.wrap{
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
  

  background-color: #b6ebd4;
}

.check
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color:rgb(255, 208, 208);
}

.radio
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color:rgb(255, 241, 197);
}

.inputbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color:rgb(197, 255, 253);
}